<ion-content [fullscreen]="true" class="ion-padding">

  <ion-grid class="center-grid">

    <div class="header">
      <h1>Bedtime <ion-icon slot="end" name="moon"></ion-icon></h1>
    </div>
    <div class="divider"></div>

    <ion-modal [keepContentsMounted]="true">
      <ng-template>
        <ion-datetime id="datetime1"></ion-datetime>
      </ng-template>
    </ion-modal>

    <ion-modal [keepContentsMounted]="true">
      <ng-template>
        <ion-datetime id="datetime2"></ion-datetime>
      </ng-template>
    </ion-modal>

    <ion-row >
      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>
              Desired Bedtime
              <ion-icon name="bed"></ion-icon>
            </ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            Select the date and time you would like to fall asleep.
            <ion-datetime-button class="ion-padding-top" datetime="datetime1"></ion-datetime-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
      
    </ion-row>

    <ion-row>
    <ion-col>
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle>
            Desired Waketime
            <ion-icon name="alarm"></ion-icon>
          </ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          Select the date and time you would like to wake up.
          <ion-datetime-button class="ion-padding-top" datetime="datetime2"></ion-datetime-button>
        </ion-card-content>
      </ion-card>
    </ion-col>
    </ion-row>


    <ion-row>
      <ion-col>
        <ion-card color="light">
          <ion-card-header>
            <ion-card-subtitle>Sleep Duration</ion-card-subtitle>
          </ion-card-header>

          <ion-card-content id="sleep_hours_input">
            8 Hours
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>


    <ion-row>
      <ion-col></ion-col>
      <ion-button id="rec_button" (click) ="onGetRecommendationClick()" class = 'bottom-button'>
        <ion-icon slot="end" name="bed-outline"></ion-icon>
        Get Recommendation
      </ion-button>
      <ion-col></ion-col>
    </ion-row>

  </ion-grid>
</ion-content>