

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-grid class="center-grid">

      <div class="header">
        Recommendations <ion-icon slot="end" name="alarm"></ion-icon>
      </div>
      <div class="divider"></div>
    
    <ion-row>
      <ion-col>
        <ion-card color='light'>
          <ion-card-header>
            <ion-card-title>11:00pm</ion-card-title>
          </ion-card-header>
          <ion-card-content>8 Hours of sleep</ion-card-content>


        </ion-card>
        <ion-card color='light'>
          <ion-card-header>
            <ion-card-title>11:15pm</ion-card-title>
          </ion-card-header>
          <ion-card-content>7.75 Hours of sleep</ion-card-content>
        </ion-card>
        <ion-card color='light'>
          <ion-card-header>
            <ion-card-title>11:30pm</ion-card-title>
          </ion-card-header>
          <ion-card-content>7.50 Hours of sleep</ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-button class="bottom-button">
        <ion-icon slot="end" name="bed-outline"></ion-icon>
        Good Night
      </ion-button>
      <ion-col></ion-col>
    </ion-row>

  </ion-grid>
</ion-content>
